{% load bootstrap3 %}

{% if accounts %}
  <table class="table table-striped selectable">
    <thead>
        <th>#</th>
        <th>Name</th>
        <th>Card Number</th>
        <th>Total Balance</th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
      {% for account in accounts %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ account.name }}</td>
          <td>{{ account.card_num }}</td>
          <td>{{ account.total }}</td>
          <td><a href='{% url 'charges:edit_account' account_id=account.id %}'>{% bootstrap_icon "glyphicon glyphicon-pencil" %}</a></td>
          <td><a href='{% url 'charges:remove_account' account_id=account.id %}'>{% bootstrap_icon "glyphicon glyphicon-remove" %}</a></td>
          <td><a href='{% url 'charges:account' account_id=account.id %}'>{% bootstrap_icon "glyphicon glyphicon-th-list" %}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% bootstrap_pagination accounts url="?page=1" %}

{% else %}
  {% url 'charges:create_account' as url_create_account%}
  <div class="alert alert-warning">
    <strong>You have no accounts. </strong> You can <a href="{{ url_create_account }}" class="alert-link">create a new one.</a>
  </div>
{% endif %}