{% load static %}

{% load bootstrap3 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Home" "/" %}
{% endblock %}


    

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Myfinance - online finance management service">
	<meta name="author" content="Victor Tyunyakov">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
	{% bootstrap_javascript %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
	{% bootstrap_css %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" />
	<link rel="stylesheet" href="{% static 'finance/style.css' %}" />
	
	<link rel="apple-touch-icon" sizes="57x57" href="/static/finance/image/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/finance/image/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/finance/image/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/finance/image/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/finance/image/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/finance/image/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/finance/image/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/finance/image/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/finance/image/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/finance/image/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/finance/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/finance/image/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/finance/image/favicon-16x16.png">
    <link rel="manifest" href="/static/finance/image/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
	{% block custom_headers %}{% endblock %}



	
	<title>{% block title %}Base{% endblock %} - Myfinance</title>
</head>

<body>

	{% block menu %}
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href='{% url 'charges:homepage' %}'>Myfinance
{#          <img alt="Brand" src="..."> #}
				</a>
			</div>
			
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{# Homepage #}
					{% url 'charges:homepage' as homepage_url %}
					{% url 'charges:accounts' as accounts_url %}
					{% url 'charges:create_account' as create_account_url %}

					{% if request.path == homepage_url %} 
						<li class="active"><a href='{{ homepage_url }}'>Homepage<span class="sr-only">(current)</span></a></li>
					{% else %}
						<li><a href='{{ homepage_url }}'>Homepage</a></li>
					{% endif %}

					{# My Accounts #}
					{% if request.path == accounts_url %} 
						<li class="active"><a href='{{ accounts_url }}'>My Accounts<span class="sr-only">(current)</span></a></li>
					{% else %}
						<li><a href='{{ accounts_url }}'>My Accounts</a></li>
					{% endif %}

					{# Create Account #}
					{% if request.path == create_account_url %} 
						<li class="active"><a href='{{ create_account_url }}'>Create Account<span class="sr-only">(current)</span></a></li>
					{% else %}
						<li><a href='{{ create_account_url }}'>Create Account</a></li>
					{% endif %}
					

				</ul>
				
				{% if user.is_authenticated %}
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Loged in as {{ request.user }} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'charges:profile' name=user.username %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> View Profile</a></li>

						<li role="separator" class="divider"></li>
						<li><a href="{% url 'charges:logout' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log Out</a></li>
					</ul>
					</li>
				</ul>
				{% else %}
				<a href="{% url 'charges:login' %}" class="navbar-link navbar-right navbar-text"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log in</a>
				{% endif %}

			</div>

		</div>
	</nav>
	{% endblock %}
	<div class="container">
		{% render_breadcrumbs %}
		{% block content %}
		{% endblock %}
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas></div>
	</div>

    <script src="{% static 'finance/TweenLite.min.js' %}"></script>
    <script src="{% static 'finance/EasePack.min.js' %}"></script>
    <script src="{% static 'finance/rAF.js' %}"></script>
    <script src="{% static 'finance/demo-1.js' %}"></script>
</body>
</html>
