{% load static %}

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous">
</script>

{% load bootstrap3 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Home" "/" %}
{% endblock %}


    

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Myfinance - online finance management service">
	<meta name="author" content="Victor Tyunyakov">

	<link rel="stylesheet" href="{% static 'finance/style.css' %}" />
	{% block custom_headers %}{% endblock %}
	<title>{% block title %}Base{% endblock %} - Myfinance</title>
</head>

<body>
	{% block menu %}
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href='{% url 'charges:homepage' %}'>Myfinance
{#          <img alt="Brand" src="..."> #}
				</a>
			</div>
			
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{# Homepage #}
					{% url 'charges:homepage' as homepage_url %}
					{% url 'charges:accounts' as accounts_url %}
					{% url 'charges:create_account' as create_account_url %}

					{% if request.path == homepage_url %} 
						<li class="active"><a href='{{ homepage_url }}'>Homepage<span class="sr-only">(current)</span></a></li>
					{% else %}
						<li><a href='{{ homepage_url }}'>Homepage</a></li>
					{% endif %}

					{# My Accounts #}
					{% if request.path == accounts_url %} 
						<li class="active"><a href='{{ accounts_url }}'>My Accounts<span class="sr-only">(current)</span></a></li>
					{% else %}
						<li><a href='{{ accounts_url }}'>My Accounts</a></li>
					{% endif %}

					{# Create Account #}
					{% if request.path == create_account_url %} 
						<li class="active"><a href='{{ create_account_url }}'>Create Account<span class="sr-only">(current)</span></a></li>
					{% else %}
						<li><a href='{{ create_account_url }}'>Create Account</a></li>
					{% endif %}
					
					

				</ul>
				
				{% if user.is_authenticated %}
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Loged in as {{ request.user }} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'charges:profile' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> View Profile</a></li>

						<li role="separator" class="divider"></li>
						<li><a href="{% url 'charges:logout' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log Out</a></li>
					</ul>
					</li>
				</ul>
				{% else %}
				<a href="{% url 'charges:login' %}" class="navbar-link navbar-right navbar-text"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log in</a>
				{% endif %}

			</div>

		</div>
	</nav>
	{% endblock %}
	<div class="container">
		{% render_breadcrumbs %}
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
