{% load bootstrap3 %}
{% if charges %}
  <table class="table table-striped">
    <thead>
        <th>#</th>
        <th>Date</th>
        <th>Value</th>
    </thead>
    <tbody>
      {% for charge in charges %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ charge.date }}</td>
          <td>{{ charge.value }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  {% url 'charges:create_charge' account_id=account.id as url_create_charge %}
  <div class="alert alert-warning">
    <strong>No charges. </strong> You can <a href="{{ url_create_charge }}" class="alert-link">create a new one</a>.
  </div>
{% endif %}