{% load bootstrap3 %}
{% if charges %}
  <table class="table table-striped">
    <thead>
        <th>#</th>
        <th>Date</th>
        <th>Value</th>
    </thead>
    <tbody>
      {% for charge in charges %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ charge.date }}</td>
          <td>{{ charge.value }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  {% bootstrap_alert "No charges at the moment" alert_type='warning' dismissable=False %}
{% endif %}