{% extends "finance/account.html" %}

{% load bootstrap3 %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}New Charge - {{ account.name }} Account{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% url 'charges:create_charge' account_id=account.id as url_create_charge %}
    {% breadcrumb "New Charge" url_create_charge %}
{% endblock %}

{% block content %}

{% if success %}
{% bootstrap_alert "Charge created successfully" alert_type='success' %}
{% endif %}

<form action="{% url 'charges:create_charge' account_id=account.id %}" method="post">
  {% bootstrap_field charge_form.value addon_before='<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>' %}
  {% bootstrap_field charge_form.date addon_before='<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>' %}
  {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" %}
</form>

{% endblock %}