{% extends "finance/base.html" %}

{% load bootstrap3 %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}Create Account{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Create Account" "/create_account" %}
{% endblock %}

{% block content %}

{% if success %}
{% bootstrap_alert "Account created successfully" alert_type='success' %}
{% endif %}

<form action="{% url 'charges:create_account' %}" method="post">
  {% csrf_token %}
  {% bootstrap_field account_form.name addon_before='<span class="glyphicon glyphicon-user" aria-hidden="true"></span>' %}
  {% bootstrap_field account_form.card_num addon_before='<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>' %}
  {% bootstrap_field account_form.total addon_before='<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>' %}
  {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" %}
</form>

{% endblock %}