{% extends "finance/account.html" %}

{% load bootstrap3 %}

{% load django_bootstrap_breadcrumbs %}

{% block title %} Edit Charge {% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% url 'charges:edit_charge' account_id=account.id as url_edit_charge %}
  {% breadcrumb "Edit Charge" url_edit_charge %}
{% endblock %}


{% block content %}
        <form action="{% url 'charges:edit_charge' account_id=account.id charge_id=charge.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form charge_form %}
            {% bootstrap_button "Save changes" button_type="submit" button_class="btn-primary" %}
        </form>
{% endblock %}