{% extends "finance/base.html" %}

{% load bootstrap3 %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Login page{% endblock %}

{% block breadcrumbs %}
{% endblock %}
{% block menu %}"
{% endblock %}

{% block content %}
    <div class="login-form">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">AMS My Finance</h1>
                <hr />
            </div>
        </div> 
        <div class="main-login main-center">
            <h3>Log in <br><small><span class="login-subheader"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> or continue back to <a href="{% url 'charges:homepage' %}">homepage</a></span></small></h3>
            
            <span class="subhea"></span>
            <form action="{% url 'charges:login' %}" method="post">
            {% bootstrap_field login_form.username addon_before='<span class="glyphicon glyphicon-user" aria-hidden="true"></span>' %}
            {% bootstrap_field login_form.password addon_before='<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>' %}
            <input type="hidden" name="next" value="{{ next|default_if_none:"" }}" />
            <div class="form-group ">
                {% bootstrap_button "Log in" button_type="submit" button_class="btn btn-primary btn-lg btn-block login-button" %}
            </div>
            </form>
            <span> Don't have an account? <a href="{% url 'charges:register' %}"> Sign up </a></span>
            <br>
            <a href="{% url 'social:begin' 'vk-oauth2' %}?next={% url 'charges:accounts' %}"><img src="{% static 'finance/image/vk_logo.jpg' %}" alt="VK login" height="32" width="32"></a>
        </div>
    </div>
{% endblock %}