{% extends "finance/base.html" %}

{% load bootstrap3 %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ request.user }} Profile{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% url 'charges:profile' as url_profile %}
    {% breadcrumb "Profile" url_profile %}
{% endblock %}

{% block content %}
    {% if success %}
        {% bootstrap_alert "Profile information changed successfully" alert_type='success' %}
    {% elif success is not None %}
        {% bootstrap_alert "Error processing profile information" alert_type='danger' %}
    {% endif %}
    <h3>{{ profile.username }}'s Profile</h3>
    <form action="{% url 'charges:profile' name=profile.username %}" method="post">
        {% bootstrap_field profile_form.first_name addon_before='<span class="glyphicon glyphicon-user" aria-hidden="true"></span>' %}
        {% bootstrap_field profile_form.last_name addon_before='<span class="glyphicon glyphicon-user" aria-hidden="true"></span>' %}
        {% bootstrap_field profile_form.phone_number addon_before='<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>' %}
        {% bootstrap_field profile_form.address addon_before='<span class="glyphicon glyphicon-home" aria-hidden="true"></span>' %}
        {% bootstrap_button "Save changes" button_type="submit" button_class="btn-primary btn-lg btn-block" %}
        {% csrf_token %}
    </form>
{% endblock %}
