{% extends "finance/base.html" %}

{% load bootstrap3 %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% url 'charges:usertable' as url_users %}
    {% breadcrumb "Users" url_users %}
{% endblock %}

{% block content %}
  
  <table class="table table-striped">
    <thead>
        <th>#</th>
        <th>Name</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ user.username }}</td>
          <td><a href='{% url 'charges:edit_profile' name=user.username %}'>{% bootstrap_icon "glyphicon glyphicon-pencil" %}</a></td>
          <td><a href='{% url 'charges:remove_profile' name=user.username %}'>{% bootstrap_icon "glyphicon glyphicon-remove" %}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% bootstrap_pagination users url="?page=1" %}
{% endblock %}